<html>

    <head>
        <title>GroupeD</title>
        <meta charset="utf-8">
    </head>

    <body>
        <div class="header">
            <div class="inner_header">
                <div class="logo_container">
                    <h1>Groupe<span>D</span></h1>
                </div>
        
                <ul class="navigation">
                    <a href=""><li>Sign in</li></a>
                    <a href=""><li>Register</li></a>
                </ul>
            </div>
        </div>
        
        <div class="group_button">
            <button title="Create a group" (click)="onClick($event)">Create Group</button>
            <button title="Join a group" (click)="onClick($event)">Join Group</button>
            <button title="Join a group quickly" (click)="onClick($event)">Quick Group</button>
        </div>

        <footer>
            <p>Created by Christophe Andunda, David Krstevski, Nicolas Nemeth, Alex Sabani</p>
        </footer>
    </body>

</html>