
<html>
    <head>
        <title>GroupeD</title>
        <meta charset="utf-8">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="header_background"></div>
        <nav>
            <div class="inner_header">
                <div class="logo_container">
                    <h1>
                        <a ng href="home">GROUPED</a>
                    </h1>
                </div>
            </div>
        </nav>
    <form class="box" action="login.component.html" method="post">
        <h1>LOGIN</h1>

        <input 
            type="text" 
            name="username" 
            ngModel 
            required 
            #username="ngModel" 
            placeholder="Username"
            maxlength="14"
            autocomplete="off"
            autocorrect="off"
            >

        <input 
            type="password" 
            name="password" 
            ngModel 
            required 
            #password="ngModel" 
            placeholder="Password"
            maxlength="20"
            autocomplete="off"
            autocorrect="off"
            >
        <a class="login" (click)="onLogin(username.value, password.value)">Submit</a>
    </form>

</body>
</html>