* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    /*background: linear-gradient(-45deg, #FA6B0F, #DE7C0B, #F59F00, #DEA90B, #FFD802);*/
    /*TODO: RANDOM UNSPLASH IMAGE API!!*/
    background: #000000;
    background-image: url("../../assets/people.jpg");
    /* background: linear-gradient(-45deg, #269160, #31ac90, #75cfa8, #61dca4, #c3dcd2); */
    /*background: #eeeeee;*/
    background-size: 120% 120%;
    animation: change 30s ease-in-out infinite;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/* footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 35px;
    background-color: yellow;
    height: 5%;
    opacity: 0.5;
    font-size: 18px;
    font-family: verdana;
    border: 2px solid black;
} */

.header {
    width: 100%;
    /* height: 90px; */
    height: 12%;
    display: block;
    background-color: #ffffff67;
    box-shadow: 0px 5px 25px #00000035;
}

.inner_header {
    width: 75%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1 {
    color: #000000;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: verdana;
    font-size: 34px;
    font-weight: 200;
}

.logo_container a {
    text-decoration: none;
    color: inherit;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #13001f;
    font-family: 'Bahnschrift Light';
    font-size: 18px;
    text-shadow: 0px 2px 5px #00000035;
    text-decoration:none;
    transition: ease-out 0.15s;
}

.navigation a li:hover {
    /*color:rgb(255, 100, 100);*/
    color:black;
    text-decoration: underline red;
}

.group_button button {
    background-color:#FFFFFF;
    /* background-color: #c3dcd2; */
    border-radius: 50px;
    font-family: 'Bahnschrift SemiBold';
    font-size: 20px;
    width: 20%;
    height: 5%;
    margin-top: 15%;   
    margin-left: 10%;
    padding: 2%;
    /*border: 2px solid black;*/
    border:none; 
    box-shadow: 0px 10px 15px #00000035; 
    outline: none;
    transition: ease-out 0.15s;
}

.group_button button:hover {    
    color: white;
    /*font-size: 20px;
    width:22%;*/
    /*ROTATE ?*/
    background-color: rgb(87, 226, 94);
    /* background-color: #52c3cc; */
}

.group_button button:active {    
    /*ROTATE ?*/
    background-color: rgb(226, 87, 87);
    /* background-color: #52c3cc; */
}