<html>
    <head>
        <title>GroupeD</title>
        <meta charset="utf-8">
    </head>

    <body>
        <div class="header">
            <div class="inner_header">
                <div class="logo_container">
                    <h1>
                        <a>Groupe</a>
                        <a><span>D</span></a>
                    </h1>
                </div>
        
                <ul class="navigation">
                    <a><li>Sign in</li></a>
                    <a><li>Register</li></a>
                </ul>
            </div>
        </div>
        
        <div class="group_button">
            <button title="Create a group">Create Group</button>
            <button title="Join a group">Join Group</button>
            <button title="Join a group quickly">Quick Group</button>
        </div>

        <footer>
            <p>Created by Christophe Andunda, David Krstevski, Nicolas Nemeth, Alexander Sabani</p>
        </footer>
    </body>
</html>