<html>
    <head>
        <title>GroupeD</title>
        <meta charset="utf-8">
    </head>

    <body>    
        <div class="header">
            <div class="inner_header">
                <div class="logo_container">
                    <h1>
                        <a href="home">Groupe</a>
                        <a><span>D</span></a>
                    </h1>
                </div>
        
                <ul class="navigation">
                    <a href="login"><li>Sign in</li></a>
                    <a href="register"><li>Register</li></a>
                </ul>
            </div>
        </div>
        
        <div class="group_button">
            <a href="createGroup"><button title="Create a group">Create Group</button></a>
            <a href="joinGroup"><button title="Join a group">Join Group</button></a>
            <a href="quickGroup"><button title="Join a group quickly">Quick Group</button></a>
        </div>

        <footer>
            <p>Created by Christophe Andunda, David Krstevski, Nicolas Nemeth, Alexander Sabani</p>
        </footer>
    </body>
</html>