<html>
    <head>
        <title>GroupeD</title>
        <meta charset="utf-8">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap" rel="stylesheet">
    </head>

    <body>    
        <div id="header_background"></div>
        <nav>
            <div class="inner_header">
                <div class="logo_container">
                    <h1>
                        <a ng href="signedInIndex">GROUPED</a>
                    </h1>
                </div>
        
                <ul class="navigation">
                    <li><a href="profile">My Groups</a></li> 
                    <li><a (click)="onLogout()">Log out</a></li>        
                </ul>
            </div>
        </nav>
        <div class="header">

            <div id="group_input_label">
                <label>Group name:
                    <input 
                    type="text"
                    name="groupname"
                    required
                    ngModel
                    #groupname="ngModel" 
                    autocomplete="off"
                    maxlength="14"
                    autocorrect="off"
                    >     
                </label>
            </div>
            
            
            <h2>(this can be changed later on)</h2>
            <div class="group_button">
                <a (click)="createGroup(groupname.value)">CREATE</a>
            </div>
        </div>
        <div class="footer">
            <a href="#" title="Email us">E-Mail</a>
        </div>

        <!-- <footer>
            <p>Created by Christophe Andunda, David Krstevski, Nicolas Nemeth, Alexander Sabani</p>
        </footer> -->
    </body>
</html>