<html>
    <head>
        <title>GroupeD</title>
        <meta charset="utf-8">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap" rel="stylesheet">
    </head>

    <body>    
        <div id="header_background"></div>
        <nav>
            <div class="inner_header">
                <div class="logo_container">
                    <h1>
                        <a ng href="home">GROUPED</a>
                    </h1>
                </div>
        
                <ul class="navigation">
                    <li><a href="profile">My Groups</a></li>
                    <li><a (click)="onLogout()"><li>Log out</a></li>
                </ul>
            </div>
        </nav>
        <div class="header">
            <!--CREATE HEADER = "FASTED GROUPS ON THE WEB" idk,
                darunter kleinerer header "all data is safe" ka, background bunt (waves? bubbles, some shit, NEHMETZ FADE?)-->
            <div id="button_header">
                <h1 data-text="FASTEST GROUPS ON THE WEB">FASTEST GROUPS ON THE WEB</h1>
                <h2>all data is safe</h2>
            </div>
            <div class="group_button"> <!--TODO: CHRISTOPHE FIX THE BUTTONS-->
                <a href="register" (mouseover)="changeCreateText($event)" (mouseout)="changeCreateText($event)">
                    {{ createButton }}
                </a>
                <a href="register" (mouseover)="changeJoinText($event)" (mouseout)="changeJoinText($event)">
                    {{ joinButton }}
                </a>
                <a href="quickGroup" (mouseover)="changeQuickText($event)" (mouseout)="changeQuickText($event)">
                    {{ quickButton }}
                </a>
            </div>
        </div>
        <div class="footer">
            <a href="#" title="Email us">E-Mail</a>
        </div>

        <!-- <footer>
            <p>Created by Christophe Andunda, David Krstevski, Nicolas Nemeth, Alexander Sabani</p>
        </footer> -->
    </body>
</html>